body{
    /* padding-left: 10px;
    display: flex;
    justify-content: space-between;
    position: relative; */

    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-position-y: bottom;
}

.text{
    width: 60%;
    padding-left: 10px;
}

/* .image{
    position: fixed;
    right: 0px;
    bottom: 16px;
} */

h1{
    color: tomato;
}

h2{
    color: dodgerblue;
}