.cover{
    background-image: url(../img/cover.jpg);
    color:white;
    height: 300px;
}

h1{
    margin-top: 0px;
    padding-top: 200px;
    margin-left: 350px;
}

.avarta{
    width: 200px;
    height: 200px;
    border: 10px solid white;
    margin-left: 100px;
    margin-top: -140px;
}