nav{
    background-color: #3c3939;
    font-size: 36px;
}

a{
    color: white;
    text-decoration: none;
    margin-right: -9px;
    padding: 0px 20px;
}
a:hover{
    background-color: tomato;
}

.active{
    background-color: dodgerblue;
}